.about-main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.about-container {
	position: absolute;
	background: white;
	width: 40%;
	height: 95%;
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
	padding: 0 2rem;
}

/* heading  */
.about-heading {
	font-family: "Tangerine", cursive;
    font-size: 1.25rem;
	text-align: center;
	padding: 1.25rem;
	border-bottom: 1px solid rgba(122, 122, 122, 0.3);
}

/* content  */
.about-content {
	height: 84%;
	overflow: auto;
	padding: 0 1rem;
    font-size: 0.9rem;
}

.about-content > p {
	padding: 1rem 0;
	line-height: 1.8;
}

.about-content > p > span {
	font-weight: bold;
}
